<div class="container">
  <h2>Users nearby:</h2>
  <div class="cards cards-users">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <div class="card-user">
          <%= image_tag "profile1.jpeg", class: "avatar-card"%>
          <h4><%= user.username %></h4>
          <%= link_to "See more", user_path(user, event: @event), class:"btn btn-primary" %>
        </div>
        <% end %>
    <% end %>
  </div>
  <div class="pulse pulse-one"></div>
</div>
