
<div class="container">
  <div class="user-info">
    <h4><i class="far fa-calendar-check"></i> Going on events with:</h4>
    <% unless @friends.empty? %>
      <ul>
        <% @friends.each do |user| %>
          <li><%= link_to user.username, user_path(user)%></li>
        <% end %>
      </ul>
    <% else %>
      <p>No users yet.</p>
    <% end %>
    <h4><i class="far fa-heart"></i> Following:</h4>
    <% unless @following.empty? %>
      <ul>
        <% @following.each do |user| %>
          <li><%= link_to user.username, user_path(user)%></li>
        <% end %>
      </ul>
    <% else %>
      <p>No users on my wishlist.</p>
    <% end %>
  </div>
</div>
