<h1>The Pulse</h1>
<p>Find experiences or people looking to experience the City!</p>
<%= link_to "Look for an event", events_path, class:"btn btn-primary" %>
<%= link_to "Look for a friend", users_path, class:"btn btn-primary" %>
